@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab:wght@500&family=Source+Serif+Pro&display=swap");
/* font-family: 'Inconsolata', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Serif Pro', serif; */

:root {
  --black-color: #0c0d0e;
  --white-color: rgb(248, 241, 241);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black-color);
  font-family: "Roboto Slab", serif;
  margin-top: 10px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--black-color);
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

i {
  color: var(--black-color);
}

button {
  background-color: var(--black-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  color: blue;
}

button:focus {
  border: none;
  outline: none;
}

header {
  box-shadow: 0px 0px 10px var(--black-color);
}

footer {
  text-align: center;
}

.link-class {
  display: inline-block;
  margin: 10px;
  background-color: var(--black-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.link-class:focus {
  border: none;
  outline: none;
}

.login-box {
  box-shadow: 0px 0px 9px 1px var(--black-color);
  border-radius: 10px;
  padding: 80px 40px;
}

.form-control:focus {
  border: none;
  border-left: 8px solid var(--black-color);
  border-radius: 10px;
  box-shadow: none;
}

.section-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .section-margin {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.coln img {
  width: 30;
  height: 24;
  border-radius: 50%;
  margin-top: 18px;
}

.form-check {
  color: var(--black-color);
  margin-top: 20px;
}

.form-check .checked {
  outline: none;
  color: var(--white-color);
  background-color: var(--black-color);
}
